@import "tailwindcss";

:root {
  --c-bg-header: #ecf0d2;
  --c-bg-primary: #e7ebdf;
  --c-font-primary: #374151;
}

.dark {
  --c-bg-header: #1f2937;
  --c-bg-primary: #2d3748;
  --c-font-primary: #ffffff;
}

@layer base {
  html {
    box-sizing: content-box;
    font-family: "Noto Sans JP", sans-serif;
    background-color: var(--c-bg-primary);
    line-height: 1.2;
    letter-spacing: 0.06em;
  }
}

.c-bg-header {
  @apply bg-[var(--c-bg-header)];
}

.c-bg-primary {
  @apply bg-[var(--c-bg-primary)];
}
